// 這邊是自訂的東西可以用

$TestGray: rgb(75, 75, 75);
$TestBlack: rgb(26, 26, 26);
$TestBlue: rgb(54, 215, 243);
$white: white;

$colorChart-Primary-300: #8d2b19;
$colorChart-Primary-200: #ce3f25;
$colorChart-Primary-100: #e2725e;

$colorChart-colorChart-Secondary-300: #e79105;
$colorChart-Secondary-200: #fbb33d;
$colorChart-Secondary-100: #fdd088;

$colorChart-Logo-Red: #ce3f25;
$colorChart-Logo-Brown: #381709;
$colorChart-Accessory-200: #4f2413;
$colorChart-Accessory-100: #dedbda;
$colorChart-bg-color: #efefef;

$colorChart-Gray-100: #fcfcfc;
$colorChart-Gray-200: #f2f2f2;
$colorChart-Gray-300: #d4d4d4;
$colorChart-Gray-400: #6d6d6b;
$colorChart-Gray-500: #474747;
$colorChart-Gray-600: #2f2f2f;
